<title>Конкурсы</title>

<div>
  <button
    nz-button
    nzType="primary"
    [disabled]="setOfCheckedId.size !== 0"
    [routerLink]="'konkurs/'"
  >
    Создать
  </button>
  <button
    nz-button
    nzType="primary"
    [disabled]="setOfCheckedId.size === 0"
    (click)="sendRequest()"
  >
    Удалить
  </button>
</div>

<div>
  <span>Выбранно {{ setOfCheckedId.size }} записей </span>
</div>

<nz-table
  #rowSelectionTable
  [nzData]="dataService.konkurses$ | async"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        [nzSelections]="listOfSelection"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th>KONKURS_ID</th>
      <th>KONKURS_NR</th>
      <th>KONKURS_NAME</th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let konkurs of rowSelectionTable.data"
      class="table-row"
      [routerLink]="'konkurs/' + konkurs.konkursId"
    >
      <td
        [nzChecked]="setOfCheckedId.has(konkurs.id)"
        (nzCheckedChange)="onItemChecked(konkurs.id, $event)"
      ></td>
      <td>{{ konkurs.konkursId }}</td>
      <td>{{ konkurs.konkursNr }}</td>
      <td>{{ konkurs.konkursName }}</td>
    </tr>
  </tbody>
</nz-table>
